@import "tailwindcss";

@plugin "tailwindcss-animate";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

/* Отключение увелечения текста */
html {
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  -moz-text-size-adjust: none;
  /* Новогодний курсор */
  cursor:
    url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath d='M19.1671 21.3074L15.5419 22.9978L18.0776 28.4357L21.7028 26.7452L19.1671 21.3074Z' fill='%23795548'/%3E%3Cpath d='M13.9736 14.9021L6.35667 31.6945L31.7333 19.8612L13.9736 14.9021Z' fill='%232E7D32'/%3E%3Cpath d='M11.4378 9.46429L5.63357 25.4114L27.385 15.2686L11.4378 9.46429Z' fill='%23388E3C'/%3E%3Cpath d='M21.8579 10.6739L5.66655 18.2241L9.2319 4.73361L21.8579 10.6739Z' fill='%234CAF50' stroke='%234CAF50'/%3E%3Cpath d='M11.6273 28.3529C12.3781 28.0027 12.703 27.1103 12.3529 26.3595C12.0027 25.6087 11.1103 25.2838 10.3595 25.6339C9.60865 25.984 9.28382 26.8765 9.63393 27.6273C9.98404 28.3781 10.8765 28.703 11.6273 28.3529Z' fill='%23E53935'/%3E%3Cpath d='M14.6273 11.3529C15.3781 11.0027 15.703 10.1103 15.3529 9.35946C15.0027 8.60865 14.1103 8.28382 13.3595 8.63393C12.6087 8.98404 12.2838 9.87651 12.6339 10.6273C12.984 11.3781 13.8765 11.703 14.6273 11.3529Z' fill='%23E53935'/%3E%3Cpath d='M24.6273 22.3529C25.3781 22.0027 25.703 21.1103 25.3529 20.3595C25.0027 19.6087 24.1103 19.2838 23.3595 19.6339C22.6087 19.984 22.2838 20.8765 22.6339 21.6273C22.984 22.3781 23.8765 22.703 24.6273 22.3529Z' fill='%231E88E5'/%3E%3Cpath d='M14.6273 16.3529C15.3781 16.0027 15.703 15.1103 15.3529 14.3595C15.0027 13.6087 14.1103 13.2838 13.3595 13.6339C12.6087 13.984 12.2838 14.8765 12.6339 15.6273C12.984 16.3781 13.8765 16.703 14.6273 16.3529Z' fill='%23FDD835'/%3E%3Cpath d='M17.6273 24.3529C18.3781 24.0027 18.703 23.1103 18.3528 22.3595C18.0027 21.6087 17.1103 21.2838 16.3595 21.6339C15.6087 21.984 15.2838 22.8765 15.6339 23.6273C15.984 24.3781 16.8765 24.703 17.6273 24.3529Z' fill='%23FDD835'/%3E%3Cpath d='M20.6273 17.3529C21.3781 17.0027 21.703 16.1103 21.3528 15.3595C21.0027 14.6087 20.1103 14.2838 19.3595 14.6339C18.6087 14.984 18.2838 15.8765 18.6339 16.6273C18.984 17.3781 19.8765 17.703 20.6273 17.3529Z' fill='%23E53935'/%3E%3Cpath d='M9.62732 14.3529C10.3781 14.0027 10.703 13.1103 10.3529 12.3595C10.0027 11.6087 9.11027 11.2838 8.35946 11.6339C7.60865 11.984 7.28382 12.8765 7.63393 13.6273C7.98404 14.3781 8.87651 14.703 9.62732 14.3529Z' fill='%231E88E5'/%3E%3Cpath d='M12.6273 21.3529C13.3781 21.0027 13.703 20.1103 13.3529 19.3595C13.0027 18.6087 12.1103 18.2838 11.3595 18.6339C10.6087 18.984 10.2838 19.8765 10.6339 20.6273C10.984 21.3781 11.8765 21.703 12.6273 21.3529Z' fill='%231E88E5'/%3E%3Cpath d='M7.42297 0.854367L9.59714 3.15067L12.3161 1.88282L10.8955 4.75198L13.0697 7.04828L9.95868 6.29221L8.53815 9.16137L8.1766 6.01983L5.0656 5.26376L7.78452 3.99591L7.42297 0.854367Z' fill='%23FFEB3B' stroke='%23FBC02D' stroke-width='0.3'/%3E%3C/g%3E%3C/svg%3E")
      5 5,
    auto !important;
}

/* Основные стили для body */
body {
  scroll-behavior: smooth;
  max-width: 100vw;
  overflow-x: hidden;
  /* overflow-y: hidden; Полностью отключаем вертикальный скролл */
}

/* Новогодний курсор для таблицы */
.ag-body [role="presentation"] {
  cursor:
    url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath d='M19.1671 21.3074L15.5419 22.9978L18.0776 28.4357L21.7028 26.7452L19.1671 21.3074Z' fill='%23795548'/%3E%3Cpath d='M13.9736 14.9021L6.35667 31.6945L31.7333 19.8612L13.9736 14.9021Z' fill='%232E7D32'/%3E%3Cpath d='M11.4378 9.46429L5.63357 25.4114L27.385 15.2686L11.4378 9.46429Z' fill='%23388E3C'/%3E%3Cpath d='M21.8579 10.6739L5.66655 18.2241L9.2319 4.73361L21.8579 10.6739Z' fill='%234CAF50' stroke='%234CAF50'/%3E%3Cpath d='M11.6273 28.3529C12.3781 28.0027 12.703 27.1103 12.3529 26.3595C12.0027 25.6087 11.1103 25.2838 10.3595 25.6339C9.60865 25.984 9.28382 26.8765 9.63393 27.6273C9.98404 28.3781 10.8765 28.703 11.6273 28.3529Z' fill='%23E53935'/%3E%3Cpath d='M14.6273 11.3529C15.3781 11.0027 15.703 10.1103 15.3529 9.35946C15.0027 8.60865 14.1103 8.28382 13.3595 8.63393C12.6087 8.98404 12.2838 9.87651 12.6339 10.6273C12.984 11.3781 13.8765 11.703 14.6273 11.3529Z' fill='%23E53935'/%3E%3Cpath d='M24.6273 22.3529C25.3781 22.0027 25.703 21.1103 25.3529 20.3595C25.0027 19.6087 24.1103 19.2838 23.3595 19.6339C22.6087 19.984 22.2838 20.8765 22.6339 21.6273C22.984 22.3781 23.8765 22.703 24.6273 22.3529Z' fill='%231E88E5'/%3E%3Cpath d='M14.6273 16.3529C15.3781 16.0027 15.703 15.1103 15.3529 14.3595C15.0027 13.6087 14.1103 13.2838 13.3595 13.6339C12.6087 13.984 12.2838 14.8765 12.6339 15.6273C12.984 16.3781 13.8765 16.703 14.6273 16.3529Z' fill='%23FDD835'/%3E%3Cpath d='M17.6273 24.3529C18.3781 24.0027 18.703 23.1103 18.3528 22.3595C18.0027 21.6087 17.1103 21.2838 16.3595 21.6339C15.6087 21.984 15.2838 22.8765 15.6339 23.6273C15.984 24.3781 16.8765 24.703 17.6273 24.3529Z' fill='%23FDD835'/%3E%3Cpath d='M20.6273 17.3529C21.3781 17.0027 21.703 16.1103 21.3528 15.3595C21.0027 14.6087 20.1103 14.2838 19.3595 14.6339C18.6087 14.984 18.2838 15.8765 18.6339 16.6273C18.984 17.3781 19.8765 17.703 20.6273 17.3529Z' fill='%23E53935'/%3E%3Cpath d='M9.62732 14.3529C10.3781 14.0027 10.703 13.1103 10.3529 12.3595C10.0027 11.6087 9.11027 11.2838 8.35946 11.6339C7.60865 11.984 7.28382 12.8765 7.63393 13.6273C7.98404 14.3781 8.87651 14.703 9.62732 14.3529Z' fill='%231E88E5'/%3E%3Cpath d='M12.6273 21.3529C13.3781 21.0027 13.703 20.1103 13.3529 19.3595C13.0027 18.6087 12.1103 18.2838 11.3595 18.6339C10.6087 18.984 10.2838 19.8765 10.6339 20.6273C10.984 21.3781 11.8765 21.703 12.6273 21.3529Z' fill='%231E88E5'/%3E%3Cpath d='M7.42297 0.854367L9.59714 3.15067L12.3161 1.88282L10.8955 4.75198L13.0697 7.04828L9.95868 6.29221L8.53815 9.16137L8.1766 6.01983L5.0656 5.26376L7.78452 3.99591L7.42297 0.854367Z' fill='%23FFEB3B' stroke='%23FBC02D' stroke-width='0.3'/%3E%3C/g%3E%3C/svg%3E")
      5 5,
    auto !important;
}
/* Новогодний курсор Pointer для таблицы */
.ag-header [role="presentation"]:not(.ag-header-cell-resize) {
  cursor:
    url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.056 18.0454L17.2275 20.8738L21.4702 25.1165L24.2986 22.288L20.056 18.0454Z' fill='%23795548'/%3E%3Cpath d='M12.9849 13.8027L11.5707 32.1876L31.3697 12.3886L12.9849 13.8027Z' fill='%232E7D32'/%3E%3Cpath d='M8.7422 9.56014L8.74224 26.5307L25.7129 9.56015L8.7422 9.56014Z' fill='%23388E3C'/%3E%3Cpath d='M18.9476 7.13292L6.31503 19.7656L5.05135 5.86922L18.9476 7.13292Z' fill='%234CAF50' stroke='%234CAF50'/%3E%3Cpath d='M15.3805 27.2447C15.9663 26.6589 15.9664 25.7092 15.3805 25.1235C14.7947 24.5376 13.845 24.5376 13.2593 25.1234C12.6734 25.7092 12.6735 26.659 13.2592 27.2447C13.845 27.8305 14.7948 27.8306 15.3805 27.2447Z' fill='%23E53935'/%3E%3Cpath d='M12.3853 10.244C12.971 9.65811 12.9711 8.70841 12.3853 8.12259C11.7995 7.53684 10.8498 7.53681 10.264 8.1226C9.67823 8.70838 9.67817 9.65815 10.2639 10.2439C10.8497 10.8297 11.7995 10.8298 12.3853 10.244Z' fill='%23E53935'/%3E%3Cpath d='M25.5444 17.1603C26.1302 16.5745 26.1303 15.6248 25.5444 15.0391C24.9586 14.4532 24.0089 14.4532 23.4231 15.039C22.8373 15.6248 22.8373 16.5746 23.4231 17.1603C24.0089 17.7461 24.9587 17.7462 25.5444 17.1603Z' fill='%231E88E5'/%3E%3Cpath d='M14.0954 14.9424C14.6811 14.3566 14.6812 13.4069 14.0955 12.8211C13.5096 12.2353 12.5599 12.2353 11.9741 12.821C11.3883 13.4068 11.3883 14.3566 11.974 14.9424C12.5598 15.5282 13.5096 15.5282 14.0954 14.9424Z' fill='%23FDD835'/%3E%3Cpath d='M19.6506 21.4338C20.2364 20.8481 20.2365 19.8984 19.6506 19.3126C19.0648 18.7267 18.1151 18.7267 17.5293 19.3125C16.9435 19.8983 16.9435 20.8481 17.5293 21.4339C18.1151 22.0196 19.0649 22.0197 19.6506 21.4338Z' fill='%23FDD835'/%3E%3Cpath d='M20.0756 13.83C20.6613 13.2441 20.6614 12.2944 20.0755 11.7087C19.4898 11.1229 18.5401 11.1228 17.9543 11.7086C17.3685 12.2944 17.3684 13.2442 17.9542 13.83C18.54 14.4157 19.4898 14.4158 20.0756 13.83Z' fill='%23E53935'/%3E%3Cpath d='M8.71291 14.7732C9.29864 14.1873 9.29873 13.2376 8.71295 12.6518C8.12708 12.0661 7.17735 12.066 6.59156 12.6518C6.00577 13.2375 6.00578 14.1873 6.59157 14.7731C7.17735 15.3589 8.12712 15.3589 8.71291 14.7732Z' fill='%231E88E5'/%3E%3Cpath d='M13.9261 20.3249C14.5119 19.7391 14.5119 18.7894 13.9262 18.2036C13.3403 17.6179 12.3906 17.6178 11.8048 18.2035C11.219 18.7893 11.219 19.7391 11.8048 20.3249C12.3905 20.9107 13.3403 20.9107 13.9261 20.3249Z' fill='%231E88E5'/%3E%3Cpath d='M1.4922 2.4385L6.68463 4.87655L10.8163 0.744896L9.91676 6.73144L15.1093 9.16943L9.12269 10.069L8.22315 16.0555L5.78513 10.8631L-0.201403 11.7626L3.93024 7.63097L1.4922 2.4385Z' fill='%23FFEB3B' stroke='%23FBC02D' stroke-width='0.3'/%3E%3C/svg%3E")
      6 4,
    auto !important;
}

/* Новогодний курсор Pointer внутри графиков EChart */
div[_echarts_instance_],
div[_echarts_instance_] > div,
div[_echarts_instance_] canvas {
  cursor:
    url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.056 18.0454L17.2275 20.8738L21.4702 25.1165L24.2986 22.288L20.056 18.0454Z' fill='%23795548'/%3E%3Cpath d='M12.9849 13.8027L11.5707 32.1876L31.3697 12.3886L12.9849 13.8027Z' fill='%232E7D32'/%3E%3Cpath d='M8.7422 9.56014L8.74224 26.5307L25.7129 9.56015L8.7422 9.56014Z' fill='%23388E3C'/%3E%3Cpath d='M18.9476 7.13292L6.31503 19.7656L5.05135 5.86922L18.9476 7.13292Z' fill='%234CAF50' stroke='%234CAF50'/%3E%3Cpath d='M15.3805 27.2447C15.9663 26.6589 15.9664 25.7092 15.3805 25.1235C14.7947 24.5376 13.845 24.5376 13.2593 25.1234C12.6734 25.7092 12.6735 26.659 13.2592 27.2447C13.845 27.8305 14.7948 27.8306 15.3805 27.2447Z' fill='%23E53935'/%3E%3Cpath d='M12.3853 10.244C12.971 9.65811 12.9711 8.70841 12.3853 8.12259C11.7995 7.53684 10.8498 7.53681 10.264 8.1226C9.67823 8.70838 9.67817 9.65815 10.2639 10.2439C10.8497 10.8297 11.7995 10.8298 12.3853 10.244Z' fill='%23E53935'/%3E%3Cpath d='M25.5444 17.1603C26.1302 16.5745 26.1303 15.6248 25.5444 15.0391C24.9586 14.4532 24.0089 14.4532 23.4231 15.039C22.8373 15.6248 22.8373 16.5746 23.4231 17.1603C24.0089 17.7461 24.9587 17.7462 25.5444 17.1603Z' fill='%231E88E5'/%3E%3Cpath d='M14.0954 14.9424C14.6811 14.3566 14.6812 13.4069 14.0955 12.8211C13.5096 12.2353 12.5599 12.2353 11.9741 12.821C11.3883 13.4068 11.3883 14.3566 11.974 14.9424C12.5598 15.5282 13.5096 15.5282 14.0954 14.9424Z' fill='%23FDD835'/%3E%3Cpath d='M19.6506 21.4338C20.2364 20.8481 20.2365 19.8984 19.6506 19.3126C19.0648 18.7267 18.1151 18.7267 17.5293 19.3125C16.9435 19.8983 16.9435 20.8481 17.5293 21.4339C18.1151 22.0196 19.0649 22.0197 19.6506 21.4338Z' fill='%23FDD835'/%3E%3Cpath d='M20.0756 13.83C20.6613 13.2441 20.6614 12.2944 20.0755 11.7087C19.4898 11.1229 18.5401 11.1228 17.9543 11.7086C17.3685 12.2944 17.3684 13.2442 17.9542 13.83C18.54 14.4157 19.4898 14.4158 20.0756 13.83Z' fill='%23E53935'/%3E%3Cpath d='M8.71291 14.7732C9.29864 14.1873 9.29873 13.2376 8.71295 12.6518C8.12708 12.0661 7.17735 12.066 6.59156 12.6518C6.00577 13.2375 6.00578 14.1873 6.59157 14.7731C7.17735 15.3589 8.12712 15.3589 8.71291 14.7732Z' fill='%231E88E5'/%3E%3Cpath d='M13.9261 20.3249C14.5119 19.7391 14.5119 18.7894 13.9262 18.2036C13.3403 17.6179 12.3906 17.6178 11.8048 18.2035C11.219 18.7893 11.219 19.7391 11.8048 20.3249C12.3905 20.9107 13.3403 20.9107 13.9261 20.3249Z' fill='%231E88E5'/%3E%3Cpath d='M1.4922 2.4385L6.68463 4.87655L10.8163 0.744896L9.91676 6.73144L15.1093 9.16943L9.12269 10.069L8.22315 16.0555L5.78513 10.8631L-0.201403 11.7626L3.93024 7.63097L1.4922 2.4385Z' fill='%23FFEB3B' stroke='%23FBC02D' stroke-width='0.3'/%3E%3C/svg%3E")
      6 4,
    auto !important;
}

/* Новогодний курсор Pointer */
a,
button,
input,
[role="button"],
input[type="submit"],
input[type="button"],
input[type="reset"],
label,
select,
summary,
[class*="pointer"],
.cursor-pointer {
  cursor:
    url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.056 18.0454L17.2275 20.8738L21.4702 25.1165L24.2986 22.288L20.056 18.0454Z' fill='%23795548'/%3E%3Cpath d='M12.9849 13.8027L11.5707 32.1876L31.3697 12.3886L12.9849 13.8027Z' fill='%232E7D32'/%3E%3Cpath d='M8.7422 9.56014L8.74224 26.5307L25.7129 9.56015L8.7422 9.56014Z' fill='%23388E3C'/%3E%3Cpath d='M18.9476 7.13292L6.31503 19.7656L5.05135 5.86922L18.9476 7.13292Z' fill='%234CAF50' stroke='%234CAF50'/%3E%3Cpath d='M15.3805 27.2447C15.9663 26.6589 15.9664 25.7092 15.3805 25.1235C14.7947 24.5376 13.845 24.5376 13.2593 25.1234C12.6734 25.7092 12.6735 26.659 13.2592 27.2447C13.845 27.8305 14.7948 27.8306 15.3805 27.2447Z' fill='%23E53935'/%3E%3Cpath d='M12.3853 10.244C12.971 9.65811 12.9711 8.70841 12.3853 8.12259C11.7995 7.53684 10.8498 7.53681 10.264 8.1226C9.67823 8.70838 9.67817 9.65815 10.2639 10.2439C10.8497 10.8297 11.7995 10.8298 12.3853 10.244Z' fill='%23E53935'/%3E%3Cpath d='M25.5444 17.1603C26.1302 16.5745 26.1303 15.6248 25.5444 15.0391C24.9586 14.4532 24.0089 14.4532 23.4231 15.039C22.8373 15.6248 22.8373 16.5746 23.4231 17.1603C24.0089 17.7461 24.9587 17.7462 25.5444 17.1603Z' fill='%231E88E5'/%3E%3Cpath d='M14.0954 14.9424C14.6811 14.3566 14.6812 13.4069 14.0955 12.8211C13.5096 12.2353 12.5599 12.2353 11.9741 12.821C11.3883 13.4068 11.3883 14.3566 11.974 14.9424C12.5598 15.5282 13.5096 15.5282 14.0954 14.9424Z' fill='%23FDD835'/%3E%3Cpath d='M19.6506 21.4338C20.2364 20.8481 20.2365 19.8984 19.6506 19.3126C19.0648 18.7267 18.1151 18.7267 17.5293 19.3125C16.9435 19.8983 16.9435 20.8481 17.5293 21.4339C18.1151 22.0196 19.0649 22.0197 19.6506 21.4338Z' fill='%23FDD835'/%3E%3Cpath d='M20.0756 13.83C20.6613 13.2441 20.6614 12.2944 20.0755 11.7087C19.4898 11.1229 18.5401 11.1228 17.9543 11.7086C17.3685 12.2944 17.3684 13.2442 17.9542 13.83C18.54 14.4157 19.4898 14.4158 20.0756 13.83Z' fill='%23E53935'/%3E%3Cpath d='M8.71291 14.7732C9.29864 14.1873 9.29873 13.2376 8.71295 12.6518C8.12708 12.0661 7.17735 12.066 6.59156 12.6518C6.00577 13.2375 6.00578 14.1873 6.59157 14.7731C7.17735 15.3589 8.12712 15.3589 8.71291 14.7732Z' fill='%231E88E5'/%3E%3Cpath d='M13.9261 20.3249C14.5119 19.7391 14.5119 18.7894 13.9262 18.2036C13.3403 17.6179 12.3906 17.6178 11.8048 18.2035C11.219 18.7893 11.219 19.7391 11.8048 20.3249C12.3905 20.9107 13.3403 20.9107 13.9261 20.3249Z' fill='%231E88E5'/%3E%3Cpath d='M1.4922 2.4385L6.68463 4.87655L10.8163 0.744896L9.91676 6.73144L15.1093 9.16943L9.12269 10.069L8.22315 16.0555L5.78513 10.8631L-0.201403 11.7626L3.93024 7.63097L1.4922 2.4385Z' fill='%23FFEB3B' stroke='%23FBC02D' stroke-width='0.3'/%3E%3C/svg%3E")
      6 4,
    auto !important;
}

/* Новогодний курсор Not Allowed */
button:disabled,
input:disabled,
.cursor-not-allowed,
[aria-disabled="true"],
[disabled] {
  cursor:
    url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.4325 21.3697L15.8072 23.0601L18.3429 28.498L21.9682 26.8075L19.4325 21.3697Z' fill='%233D3D3D'/%3E%3Cpath d='M14.2389 14.9644L6.622 31.7568L31.9986 19.9235L14.2389 14.9644Z' fill='%23878686'/%3E%3Cpath d='M11.7032 9.52658L5.89891 25.4737L27.6503 15.3309L11.7032 9.52658Z' fill='%23A9A9A9'/%3E%3Cpath d='M9.16747 4.08874L5.17581 19.1906L23.302 10.7382L9.16747 4.08874Z' fill='%23CECECE'/%3E%3Cpath d='M7.68831 0.916659L9.86247 3.21296L12.5814 1.94511L11.1609 4.81427L13.335 7.11058L10.224 6.35451L8.80348 9.22367L8.44194 6.08213L5.33093 5.32606L8.04986 4.0582L7.68831 0.916659Z' fill='%23FFEB3B' stroke='%23FBC02D' stroke-width='0.3'/%3E%3Cpath d='M7.68831 0.916659L9.86247 3.21296L12.5814 1.94511L11.1609 4.81427L13.335 7.11058L10.224 6.35451L8.80349 9.22367L8.44194 6.08213L5.33093 5.32606L8.04986 4.0582L7.68831 0.916659Z' fill='%23CECECE' stroke='%23878686' stroke-width='0.3'/%3E%3Cpath opacity='0.8' d='M14.9471 25.977C19.9342 25.977 23.977 21.9342 23.977 16.9471C23.977 11.9601 19.9342 7.91727 14.9471 7.91727C9.96006 7.91727 5.91727 11.9601 5.91727 16.9471C5.91727 21.9342 9.96007 25.977 14.9471 25.977Z' stroke='%23D32F2F' stroke-width='3'/%3E%3Cpath opacity='0.8' d='M8.17473 23.7195L21.7195 10.1747' stroke='%23D32F2F' stroke-width='3'/%3E%3C/svg%3E")
      7 0,
    not-allowed !important;
}

/* Новогодний курсор Grabbing */
.cursor-grabbing,
[role="button"]:active,
button:active {
  cursor:
    url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23.8264 15.0681L22.2231 18.7328L26.6396 22.4994L29.7329 20.9994L23.8264 15.0681Z' fill='%23795548'/%3E%3Cpath d='M15.6955 13.6939L19.5602 23.3632L20.3331 25.7388L20.0762 29.9995L32.3009 5.67758L15.6955 13.6939Z' fill='%232E7D32'/%3E%3Cpath d='M10.1986 11.2889L15.1695 19.1443L16.372 21.9995L16.3826 27.0927L26.0024 5.10495L10.1986 11.2889Z' fill='%23388E3C'/%3E%3Cpath d='M11.5389 6.9392L14.6019 5.56118L14.6301 5.54793L14.6573 5.5321L18.0431 3.46277L12.8854 19.0255L10.1408 15.5095L10.13 15.4952L10.117 15.481L5.77848 10.6963L11.5389 6.9392Z' fill='%234CAF50' stroke='%234CAF50'/%3E%3Cpath d='M22.8247 25.3387C23.1567 24.5797 22.8106 23.6953 22.0517 23.3632C21.2927 23.0312 20.4083 23.3772 20.0762 24.1362C19.7442 24.8952 20.0902 25.7796 20.8492 26.1117C21.6082 26.4437 22.4926 26.0977 22.8247 25.3387Z' fill='%23E53935'/%3E%3Cpath d='M13.8404 10.5982C14.1724 9.83924 13.8263 8.95479 13.0674 8.62274C12.3084 8.29068 11.424 8.63677 11.0919 9.39573C10.7598 10.1547 11.1059 11.0391 11.8649 11.3712C12.6239 11.7033 13.5083 11.3572 13.8404 10.5982Z' fill='%23E53935'/%3E%3Cpath d='M28.6151 12.244C28.9471 11.485 28.601 10.6006 27.8421 10.2685C27.0831 9.93644 26.1986 10.2825 25.8666 11.0415C25.5345 11.8005 25.8806 12.6849 26.6396 13.017C27.3986 13.349 28.283 13.0029 28.6151 12.244Z' fill='%231E88E5'/%3E%3Cpath d='M17.145 14.3505C17.477 13.5915 17.1309 12.7071 16.372 12.375C15.613 12.0429 14.7286 12.389 14.3965 13.148C14.0645 13.907 14.4105 14.7914 15.1695 15.1235C15.9285 15.4555 16.8129 15.1094 17.145 14.3505Z' fill='%23FDD835'/%3E%3Cpath d='M24.6837 18.3713C25.0158 17.6124 24.6697 16.7279 23.9107 16.3959C23.1517 16.0638 22.2673 16.4099 21.9352 17.1689C21.6032 17.9278 21.9493 18.8123 22.7082 19.1443C23.4672 19.4764 24.3517 19.1303 24.6837 18.3713Z' fill='%23FDD835'/%3E%3Cpath d='M22.3086 11.1354C22.6407 10.3764 22.2946 9.49198 21.5356 9.15992C20.7767 8.82787 19.8922 9.17395 19.5602 9.93292C19.2281 10.6919 19.5742 11.5763 20.3331 11.9084C21.0921 12.2404 21.9766 11.8944 22.3086 11.1354Z' fill='%23E53935'/%3E%3Cpath d='M12.0709 16.1542C12.4029 15.3952 12.0568 14.5108 11.2979 14.1787C10.5389 13.8467 9.65444 14.1927 9.32239 14.9517C8.99034 15.7107 9.33642 16.5951 10.0954 16.9272C10.8544 17.2592 11.7388 16.9132 12.0709 16.1542Z' fill='%231E88E5'/%3E%3Cpath d='M18.9487 19.4246C19.2807 18.6656 18.9346 17.7812 18.1757 17.4491C17.4167 17.1171 16.5323 17.4631 16.2002 18.2221C15.8682 18.9811 16.2142 19.8655 16.9732 20.1976C17.7322 20.5296 18.6166 20.1836 18.9487 19.4246Z' fill='%231E88E5'/%3E%3Cpath d='M0.732913 11.3712L6.23292 8.62274L5.01448 4.49945L8.73292 6.99945L10.2616 8.22672L15.6955 6.49945L10.7383 11.6242L12.0821 17.5269L9.23292 14.4994L7.23292 11.9084L4.24992 15.8175L5.01448 11.2459L0.732913 11.3712Z' fill='%23FFEB3B' stroke='%23FBC02D' stroke-width='0.3'/%3E%3C/svg%3E")
      3 9,
    grabbing !important;
}

/* Конфетный border */
@layer components {
  .bg-candy {
    border-color: transparent;
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;

    background-image:
      linear-gradient(var(--card), var(--card)),
      repeating-linear-gradient(
        -45deg,
        rgb(255, 255, 255, 0.5),
        rgb(255, 255, 255, 0.5) 10px,
        rgb(229, 0, 70, 0.5) 10px,
        rgb(229, 0, 70, 0.5) 20px
      );

    border-width: 2px;
    border-style: solid;
  }

  .dark .bg-candy {
    border-color: transparent;
    background-image:
      linear-gradient(var(--card), var(--card)),
      repeating-linear-gradient(
        -45deg,
        rgb(255, 255, 255, 0.5),
        rgb(255, 255, 255, 0.5) 10px,
        rgb(229, 0, 70, 0.5) 10px,
        rgb(229, 0, 70, 0.5) 20px
      );
  }
}

.ag-theme-alpine .selected-row,
.ag-theme-alpine-dark .selected-row {
  background-color: rgba(255, 0, 0, 0.9) !important;
}
/* Стили для скрытия скроллбаров (общие) */
.scrollbar-hide {
  /* Firefox */
  scrollbar-width: none;
  /* IE и Edge */
  -ms-overflow-style: none;
}

/* Webkit-браузеры (Chrome, Safari) - скрытие */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
  width: 0;
  background: transparent;
}

.ag-filler-cell {
  flex-grow: 1;
}
/* Стилизация горизонтального скроллбара в стиле macOS */
::-webkit-scrollbar {
  height: 6px; /* Только горизонтальный скроллбар */
  width: 0; /* Вертикальный скроллбар полностью скрыт */
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}

.dark ::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.3);
}

/* Firefox стилизация */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}

.dark * {
  scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
}
:root {
  --background: #ffffff;
  --foreground: #333333;

  --card: #fafafa;
  --card-foreground: #333333;

  --popover: #ffffff;
  --popover-foreground: #333333;

  --secondary: #ffadc6;
  --secondary-foreground: #e50046;
  --secondary-asdsadasd: #7f7f7f74;

  --primary: #e50046;
  --primary-foreground: #ebe8fc;
  --muted: #ebebea;
  --muted-foreground: #acaaa7;

  --accent: #e50046;
  --accent-foreground: #ebe8fc;

  --destructive: #e50046;
  --destructive-foreground: #fbe9eb;

  --positive: #249742;
  --positive-foreground: #a0e5b3;

  --average: #d35d0e;
  --average-foreground: #fca258;

  --height: #d3a304;
  --height-foreground: #e7d153;

  --border: #dad9d8;

  --input: #dad9d8;

  --ring: #ffadc6;
  --chart-1: 347 77% 50%;
  --chart-2: 342, 93%, 70%;
  --chart-3: 350 80% 72%;
  --chart-4: 351 83% 82%;
  --chart-5: 349 77% 62%;
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.87 0 0);
}
.dark {
  --background: #191919;
  --foreground: #d4d4d4;
  --card: #262626;
  --card-foreground: #d4d4d4;
  --popover: #191919;
  --popover-foreground: #d4d4d4;
  --secondary: #ffadc6;
  --secondary-foreground: #e50046;
  --primary: #e50046;
  --primary-foreground: #ebe8fc;
  --muted: #262626;
  --muted-foreground: #636363;
  --accent: #e50046;
  --accent-foreground: #ebe8fc;
  --destructive: #ad413f;
  --destructive-foreground: #fbe9eb;
  --positive: #34a853;
  --positive-foreground: #d8f3df;
  --average: #d35d0e;
  --average-foreground: #fca258;
  --height: #e2ae01;
  --height-foreground: #fff2aa;
  --border: #2f2f2f;
  --input: #2f2f2f;
  --ring: #ffadc6;
  --chart-1: 347 77% 50%;
  --chart-2: 342, 93%, 70%;
  --chart-3: 350 80% 72%;
  --chart-4: 351 83% 82%;
  --chart-5: 349 77% 62%;
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.439 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-positive: var(--positive);
  --color-positive-foreground: var(--positive-foreground);
  --color-average: var(--average);
  --color-average-foreground: var(--average-foreground);
  --color-height: var(--height);
  --color-height-foreground: var(--height-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --breakpoint-xs: 26rem;
  --breakpoint-xxs: 24rem;
}

@layer base {
  * {
    font-family: "Inter", serif;
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .popover-content-width-full {
    width: var(--radix-popover-trigger-width);
    max-height: var(--radix-popover-content-available-height);
  }
}
.ag-header-cell-label {
  justify-content: center !important;
  text-align: center !important;
}
.ag-checkbox-input-wrapper {
  border: 1px solid var(--border) !important;
  border-color: var(--primary) !important;
  border-radius: 100% !important;
}

.ag-checkbox-input-wrapper:not(.ag-checked) {
  background-color: inherit !important;
}

.ag-checkbox-input-wrapper.ag-checked::after {
  background-color: var(--foreground) !important;
}

.ag-cell:has(.ag-selection-checkbox) {
  display: grid;
  place-items: center;
}

.ag-selection-checkbox {
  margin-right: 0;
}

.echarts-for-react {
  border-radius: var(--radius);
}

.ag-cell {
  text-align: center;
}

.ag-cell-focus {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

.bn-editor {
  padding: 1rem 1rem;
  min-height: calc(100vh - 24rem);
}
